@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
    /* Colors */
    --color-purple-700: oklch(0.3571 0.1637 312.04);
    --color-purple-500: oklch(0.4533 0.1988 312.96);
    --color-purple-200: oklch(0.8944 0.069 315.32);
    --color-neutral-900: oklch(0.2543 0.0072 248.11);
    --color-neutral-700: oklch(0.3482 0.0037 264.52);
    --color-neutral-500: oklch(0.5413 0.0067 264.51);
    --color-neutral-400: oklch(0.7467 0.0154 264.48);
    --color-neutral-100: oklch(0.955 0.007 268.55);
    --color-neutral-50: oklch(0.9732 0.0041 271.37);
    --color-teal-600: oklch(0.5249 0.0892 194.78);
    --color-teal-400: oklch(0.6407 0.112574 185.6003);
    --color-teal-50: oklch(0.9791 0.0085 197.02);
    --color-green-500: oklch(0.6151 0.2031 143.33);

    /* Decorative Colors */
    --color-decorative: oklch(0.86 0.0119 264.5);
    --color-light: oklch(0.5413 0.0067 264.51);

    /* Fonts */
    --font-nunito: "Nunito", sans-serif;
}

